# DEEPSEEK_API_KEY=your_deepseek_api_key
# PORT=3001
# MONGODB_URI=mongodb://127.0.0.1:27017/jd-ai-workbench
# MONGODB_DB_NAME=jd-ai-workbench
# DEEPSEEK_BASE_URL=https://api.deepseek.com
# DEEPSEEK_ANALYSIS_MODEL=deepseek-chat
# EMBEDDING_API_KEY=your_siliconflow_api_key
# EMBEDDING_BASE_URL=https://api.siliconflow.cn/v1
# EMBEDDING_MODEL=BAAI/bge-m3
# MONGODB_VECTOR_INDEX=quiz_question_embedding
# MONGODB_DNS_SERVERS=223.5.5.5,223.6.6.6
